<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/homepage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="../js/onTour.js" defer></script>
    <script src="../js/books.js" defer></script>
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <section class="padding header-content">
        <div class="header-img-ctn">
          <img class="header-img" src="../img/lind.png" alt="">
        </div>
        <div class="header-text">
          <h1 class="menu-h1">Tristan Wede Lind</h1>
          <h2 class="menu-h2">Web Developer and Author</h2>
        </div>
        <select class="lang" name="en" aria-placeholder="EN" id="en">
          <option value="EN">EN</option>
          <option value="DA">DA</option>
        </select>
      </section>
      <nav class="main-nav">
        <ul>
          <li class="home"><a href="homepage.html">Home</a></li>
          <li class="home"><a href="ontour.html">On Tour</a></li>
          <li class="home"><a href="books.html">Books</a></li>
          <li class="home"><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section class="new-release-ctn">
      <div class="text-btn-ctn">
        <button class="cta-btn">NEW RELEASE</button>
        <div>
          <h2>Advanced PHP: From Zero to Hero</h2>
          <p id="copyright">&copy; 2023 KEA Publishing</p>
        </div>
      </div>
      <div class="tour-img-ctn">
        <img
          class="new-release-img"
          src="../img/book_php_preview.png"
          alt=""
          srcset=""
        />
      </div>
    </section>
    <main class="padding main-content">
      <section class="bio-paragraph">
        <p>
          A Copenhagen native, Tristan Wede Lind has established himself as a
          leading authority in web development, captivating audiences worldwide
          with his profound knowledge of various technologies and methodologies.
          With a career spanning over two decades, Lind has honed his skills
          working for industry giants, where he contributed to cutting-edge
          projects that pushed the boundaries of web development.
        </p>

        <p>
          Lind's latest achievements showcase his commitment to advancing the
          field. Through meticulous research and hands-on experience, he has
          developed novel approaches to web design, user experience
          optimization, and responsive development, ensuring that websites and
          applications deliver immersive and intuitive experiences across
          devices.
        </p>

        <p>
          As an accomplished author, Lind has authored numerous critically
          acclaimed books that serve as essential guides for aspiring web
          developers and industry professionals alike. His publications, revered
          for their clarity, depth, and practicality, have garnered widespread
          acclaim and have been translated into multiple languages, solidifying
          his reputation as an influential figure in the global web development
          community.
        </p>
      </section>

      <section class="padding bio-quote">
        <p>
          Tristan Wede Lind's books on web development are an invaluable
          resource for both novices and seasoned professionals. His
          comprehensive yet accessible approach demystifies complex concepts,
          providing practical guidance that translates directly into real-world
          success. Lind's expertise shines through in every page, making his
          works an indispensable addition to any developer's library.
        </p>
        <p class="reviewer-paragraph">The Tech Tribune</p>
      </section>

      <section>
        <p>
          In addition to his professional accomplishments, Lind is known for his
          dedication to sharing his expertise through conferences, workshops,
          and online platforms. As a sought-after speaker, he has enlightened
          audiences with his insightful talks, empowering developers to embrace
          emerging technologies and adapt to the ever-evolving digital
          landscape.
        </p>
      </section>
    </main>

    <header class="padding section-header">
      <h2>On tour</h2>
    </header>
    <section class="padding on-tour-section" id="on-tour-section">
      <div><img src="../img/tristan_640.jpg" alt=""></div>
    </section>

    <header class="padding section-header r">
      <h2>Books</h2>
    </header>
    <section class="padding books" id="books"></section>

    <header class="padding section-header">
      <h2>Contact</h2>
    </header>

    <section class="contact-section">
      <section id="contact-pers-1" class="contact-person-ctn">
        <div class="contact-img-ctn">
          <img class="contact-img" src="../img/victoria.png" alt="" />
        </div>
        <div class="contact-information-ctn">
        <h3 class="contact-role">Publishing</h3>
        <section class="contact-information">
          <p class="contact-name">Victoria Marsh (Editor)</p>
          <p>
            <a href="mailto:victoriamarsh@keapublishing.com"
              >victoriamarsh@keapublishing.com</a
            >
          </p>
          <div class="phone-ctn">
            <p>Phone</p>
            <a href="tel:(+31)06-42821232">(+31) 06-42821232</a>
          </div>
        </div>
        </section>


      <section class="contact-person-ctn">
        <div class="contact-img-ctn">
          <img class="contact-img" src="../img/elly.png" alt="" />
        </div>
        <div class="contact-information-ctn">
        <h3 class="contact-role">Booking</h3>
        <section class="contact-information">
          <p class="contact-name">Elly Houthuijzen (Agent)</p>
          <p>
            <a href="mailto:elly@houthuijzen.com">elly@houthuijzen.com</a>
          </p>
          <div class="phone-ctn">
            <p>Phone</p>
            <a href="tel:(+44)07975020028">(+44) 079 7502 0028</a>
          </div>
        </div>
        </section>
      </section>
    </section>
  </section>

    <section class="padding">
      <fieldset class="form-field">
        <legend>Request Booking</legend>
      <form action="your-server-endpoint" method="POST">
        <div class="input-ctn">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            required
          />
        </div>

        <div class="input-ctn">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            required
          />
        </div>

        <div class="input-ctn">
          <label for="enquiry">Enquiry:</label>
          <textarea
            id="enquiry"
            name="enquiry"
            rows="4"
            required
          ></textarea>
        </div>

        <button class="form-btn" type="submit">Submit</button>
      </fieldset>
      </form>

      <div class="up-arrow-ctn">
        <img src="../img/up-arrow.png" alt="" srcset="">
      </div>
    </section>




    <footer>
      <div class="kea-logo-ctn">
      <div class="kea-publishing-img">
        <img src="../img/keapublishing.png" alt="" srcset="">
      </div>
      <p>KEA Publishing, Inc.</p>
    </div>

    <div class="some-icons">
      <div class="some-icon">
        <img class="some-img" src="../img/twitter.png" alt="" srcset="">
      </div>
      <div class="some-icon">
        <img class="some-img" src="../img/linkedin.png" alt="" srcset="">
      </div>
      <div class="some-icon">
        <img class="some-img" src="../img/facebook.png" alt="" srcset="">
      </div>
    </div>

    <div class="footer-links-ctn">
      <p><a class="footer-links" href="">Privacy Policy</a></p>
      <p><a class="footer-links" href="">Terms of Service</a></p>
      <p><a class="footer-links" href="">Cookie Policy</a></p>
    </div>

    <div class="credit-links-ctn">
      <p><a class="footer-link-credits" href="https://www.123rf.com/">Book cover pictures by</a> 123RF</p>
      <p><a class="footer-link-credits" href="https://www.pexels.com/@bertellifotografia/"> Person pictures by</a> Matheus Bertelli</p>
      <p><a class="footer-link-credits" href="https://www.powr.io/plugins/social-media-icons/standalone">SoMe icons generated with</a> Powr.io</p>
      <p><a class="footer-link-credits" href="https://www.freepik.com/">Microphone icon by</a> Freepik</p>
      <p><a class="footer-link-credits" href="https://www.flaticon.com/authors/yogi-aprelliyanto">Up arrow icon by</a> Yogi Aprelliyanto</p>
      <p><a class="footer-link-credits" href="https://chat.openai.com/?model=text-davinci-002-render-sha">Texts generated by</a> ChatGPT</p>
      <p class="footer-copyright" id="copyright">&copy; 2023 KEA Development</p>
    </div>
    </footer>
  </body>
</html>
