:root {
  --mainBlueColor: #272958;
  --lightBlueColor: #506382;
  --brownColor: #d6c27e;
  --ctaColor: #592626;

  --bgColor: #fffaf0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  background-color: var(--bgColor);
  width: 100%;
  max-width: 100vw;
  font-family: "montserrat";
}

a {
  text-decoration: none;
}

p {
  line-height: 150%;
  font-size: 1em;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.header-img-ctn {
  display: none;
}

.header-img {
  border-radius: 50%;
}

.header-content {
  width: 100%;
  font-family: "montserrat";
  background-color: var(--mainBlueColor);
  color: var(--brownColor);
  > * {
    margin-top: 10px;
  }
}

.lang {
  border-radius: 5px;
  min-width: 50px;
  min-height: 25px;
  max-height: 35px;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

.padding {
  padding: 15px;
}

.kea-logo-ctn {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.main-nav {
  background-color: var(--lightBlueColor);
  width: 100%;

  ul {
    text-align: center;
  }
  li {
    list-style-type: none;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid var(--brownColor);
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainBlueColor);
  color: white;
}

.kea-logo-publish-ctn {
  margin-top: 15px;
}

.kea-publishing-img {
  height: clamp(50px, 35px, 200px);
  margin-right: 10px;
}

.some-icons {
  display: flex;
  > * {
    margin: 10px;
  }
}

.some-icon {
  border-radius: 50%;
}

.some-img {
  border-radius: 50%;
}

.footer-links-ctn {
  text-align: center;
  margin-top: 15px;
}

.footer-links {
  color: white;
}

.credit-links-ctn {
  text-align: center;
  margin-top: 15px;
}

.footer-link-credits {
  color: var(--brownColor);
}

.footer-copyright {
  margin-top: 15px;
  color: var(--brownColor);
}

@media screen and (min-width: 768px) {
  .header-content {
    display: flex;
    justify-content: space-between;
  }

  .header-img-ctn {
    display: block;
    max-width: 75px;
  }

  .main-nav {
    ul {
      display: flex;
      justify-content: space-around;

      li {
        border-bottom: none;
      }
    }
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;

    padding: 15px;

    .some-icons {
      grid-column: 1;
    }

    .footer-links-ctn {
      grid-column: 2;
      grid-row: 1;
      margin: 0;
    }

    .credit-links-ctn {
      grid-column: 3;
      grid-row: 1;
      margin: 0;
      text-align: right;
    }

    .kea-logo-ctn {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .footer-copyright {
      text-align: center;
      grid-column: 2;
    }
  }
}
